{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "pluginSearchDirs": [],
  "plugins": [],
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "rangeStart": 0,
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false
}
